<div *ngIf="!showCamera" class="header">
    <div class="title">Save the earth</div>
    <div class="row bg-gradient dot"></div>
    <div class="subheader">
      Track your impact
    </div>
    <div class="subheader-title">
      Reduce carbon emissions, minimize food waste, and win rewards by competing with peers to achieve eco-goals.
    </div>
    <div class="button-div-1">
      <button type="button" class="btn btn-primary button-join-now" (click)="routeToWebcam()">Try it now!</button>
    </div>
    <div class="button-div-2">
      <button type="button" class="btn btn-primary login">Login</button>
    </div>
 </div>
<div *ngIf="showCamera" class="header">
  <div *ngIf="!webcamImage">
    <div>
      <webcam [height]="500" [width]="500" [trigger]="triggerObservable" (imageCapture)="handleImage($event)" *ngIf="showWebcam"
              [allowCameraSwitch]="allowCameraSwitch" [switchCamera]="nextWebcamObservable" [videoOptions]="videoOptions" (cameraSwitched)="cameraWasSwitched($event)"
              (initError)="handleInitError($event)"></webcam>
      <br/>
      <div class="actionBtn" (click)="triggerSnapshot();" title="Take Picture">📸</div>
      <div class="actionBtn" (click)="showNextWebcam(true);" title="Switch Camera">🔁</div>
    </div>
  </div>
  <div class="snapshot" *ngIf="webcamImage != null">
    <img [src]="webcamImage.imageAsDataUrl" />
    <div>
      The plastic cup that you used emits 3.5 CO2 equivalent kg.
    </div>
  </div>
</div>
