
.header {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;

  .title {
    font-size: 40px;
    font-family: Times New Roman;
    background: -webkit-linear-gradient(180deg, #0CABBA, #357960, #F5625D, #FBAE00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 50px;
    margin-top: 150px;
  }
  .bg-gradient {
    background: linear-gradient(#0CABBA, #357960, #F5625D, #FBAE00);
    transform: rotate(90deg);
    margin-bottom: 50px;
  }
  .dot {
    height: 200px;
    width: 200px;
    border-radius: 50%;
  }
  .subheader {
    font-size: 40px;
    color: #1E1E1E;
    margin-bottom: 10px;
  }
  .subheader-title {
    font-size: 18px;
    color: #1E1E1E;
    text-align: center;
  }
  .button-div-1 {
    margin-top: 50px;
    margin-bottom: 5px;
  }
  .button-div-2 {
    margin-top: 10px;
  }
  .button-join-now {
    background: linear-gradient(#F5625D, #FBAE00);
    font-size: 16px;
    height: 40px;
    width: 120px;
    border: transparent;
    border-radius: 35px;
  }
  .login {
    background: none;
    font-size: 16px;
    height: 40px;
    width: 120px;
    border: transparent;
    border-radius: 35px;
  }
}

.actionBtn {
  font-size: 4em;
  cursor: pointer;
}
.snapshot{
  text-align: center;
  img{
    max-width: 800px;
    max-height: 800px;
  }
}
ul.links{
  padding-bottom: 20px;
}
