<div class="container">
  <div class="header">
    <div class="title">Save the earth</div>
    <div class="row bg-gradient dot"></div>
    <div class="subheader">
      Track your impact
    </div>
    <div class="subheader-title">
      Reduce carbon emissions, minimize food waste, and win rewards by competing with peers to achieve eco-goals.
    </div>
    <div class="button-div-1">
      <button type="button" class="btn btn-primary button-join-now">Join now</button>
    </div>
    <div class="button-div-2">
      <button type="button" class="btn btn-primary login">Login</button>
    </div>
  </div>
</div>

<!--<div class="container mt-5">-->
<!--  <h2>Angular Webcam Capture Image from Camera</h2>-->

<!--  <div class="col-md-12">-->
<!--    <webcam-->
<!--      [trigger]="invokeObservable"-->
<!--      (imageCapture)="captureImg($event)"-->
<!--    ></webcam>-->
<!--  </div>-->
<!--  <div class="col-md-12">-->
<!--    <button class="btn btn-danger" (click)="getSnapshot()">-->
<!--      Capture Image-->
<!--    </button>-->
<!--  </div>-->
<!--  <div class="col-12">-->
<!--    <div id="results">Your taken image manifests here...</div>-->

<!--    <img [src]="webcamImage?.imageAsDataUrl" height="400px" />-->
<!--  </div>-->
<!--</div>-->
